<%- messages.notice %>

    <form action="/account/update" method="POST" class="account">
        <h1>Edit Account</h1>

        <div>
            <label for="firstName">First Name</label>
            <input type="text" name="firstName" id="firstName" value="<%= accountData.first_name %>" />
        </div>

        <div>
            <label for="lastName">Last Name</label>
            <input type="text" name="lastName" id="lastName" value="<%= accountData.last_name %>" />
        </div>

        <div>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" value="<%= accountData.email %>" />
        </div>

        <input type="hidden" name="account_id" value="<%= accountData.id %>" />

        <div>
        <button type="submit">Update</button>
        </div>
    </form>

    <form action="/account/change-password" method="POST" class="account">
        <h2>Update Password</h2>

        <p class="password_change"><i>*Note: Your original password will be changed.</i></p>

        <label for="password">*Password:</label>
        <input type="password" name="account_password" id="password"
            pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">

        <div>
            <i>Passwords must be at least 12 characters and contain 1 number, 1 capital letter, and 1 special
                character.</i>
        </div>

        <label>
            <input type="checkbox" id="show-password"> Show Password
        </label>

        <input type="hidden" name="account_id" value="<%= accountData.id %>" />


        <button type="submit">Change Password</button>
    </form>

    <script src="/js/script.js"></script>